%h1 Listing tracks

%table
  %thead
    %tr
      %th Name
      %th Number
      %th Artist
      %th Duration
      %th Item
      %th
      %th
      %th

  %tbody
    - @tracks.each do |track|
      %tr
        %td= track.name
        %td= track.number
        %td= track.artist
        %td= track.duration
        %td= track.item
        %td= link_to 'Show', track
        %td= link_to 'Edit', edit_track_path(track)
        %td= link_to 'Destroy', track, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Track', new_track_path
