%p#notice= notice

%p
  %b Name:
  = @track.name
%p
  %b Number:
  = @track.number
%p
  %b Artist:
  = @track.artist
%p
  %b Duration:
  = @track.duration
%p
  %b Item:
  = @track.item

= link_to 'Edit', edit_track_path(@track)
\|
= link_to 'Back', tracks_path
