#editing-bar
  %span.js-items-page-info
  %a{ :href => '/stats' } stats
  %a.export{ :href => '/items.csv' } export csv
  %a{ :href => random_items_path } random
  - if @can_edit
    %a.logout{ :href => '/logout' } disable editing
    %a.import{ :href => '' } import csv
    %form{ :action => '/items/import', :method => 'post', :enctype => 'multipart/form-data'}
      = token_tag(nil)
      %input{ :type => 'file', :name => 'file' }
      %input{ :type => 'submit', :value => 'Import' }
  - else
    editing is disabled.
    %a.login{ :href => '' } enable now?
    = form_tag user_session_path do
      = text_field_tag 'user[email]', nil, :placeholder => 'Email Address'
      = password_field_tag 'user[password]', nil, :placeholder => 'Password'
      %button Sign in
  %a{ :href => root_url(:exclude_responsive => !cookies[:exclude_responsive]) }
    = cookies[:exclude_responsive] ? 'enable' : 'disable'
    responsive
  %form.search.js-search{ :action => '/', :method => 'get' }
    %input{ :type => 'search', :name => 'search', :placeholder => 'Search', :value => params[:search] }
.toggle-controls
  %a{ :href => '' } hide controls


