%tr{ 'data-id' => item.id }
  %td.title= item.title
  %td.artist= item.artist
  %td.year= item.year
  %td.label= item.label
  %td.format= item.format
  %td.condition= item.condition
  %td.price_paid= item.price_paid
  %td.added_on= item.created_at.strftime('%m.%d.%y')
  - if can? :manage, Item
    %td.edit
      = link_to 'e', item_path(item), :class => 'edit'
      \/
      = link_to 'd', item, :class => 'delete'
    %td.save.none
      %a.save{:href => item_path(item, :format => :json)} save
