%tr{"data-id" => "#{item.id}"}
  %td.item-title
    %a{:href => "/items/#{item.id}"}= item.title
  %td.item-artist #{item.artist}
  %td.item-year #{item.year}
  %td.item-label #{item.label}
  %td.item-format #{item.format}
  %td.item-condition #{item.condition}
  %td.item-color #{item.color}
  %td.item-price_paid #{item.price_paid}
  %td.item-notes #{item.notes}
  %td.item-added_on #{item.added_on}
  %td.item-edit
    %a.item-edit{:href => "/items/#{item.id}/edit"}
      %i.glyphicon.glyphicon-pencil
  %td.item-delete
    %a.item-delete{:href => "/items/#{item.id}"}
      %i.glyphicon.glyphicon-trash

