%tr{ 'data-id' => item.id }
  %td.title= item.title
  %td.artist= item.artist
  %td.year= item.year
  %td.label= item.label
  %td.format= item.format
  %td.condition= item.condition
  %td.color= item.color
  %td.price_paid= item.price_paid
  %td.discogs_url
    - if item.discogs_url.present?
      %a{ :href => item.discogs_url, :target => '_blank' } link
  %td.added_on= item.created_at.strftime('%m.%d.%y')
  %td.edit<
    %a{ :href => item_path(item) }> s
    - if policy(item).edit?
      = precede '/' do
        %a.edit{ :href => item_path(item) }> e
      = precede '/' do
        %a.delete{ :href => item_path(item) }> d
  - if policy(item).edit?
    %td.save.none
      %a.save{:href => item_path(item, :format => :json)} save
