%tr
  %td.title= item.title
  %td.artist= item.artist
  %td.year= item.year
  %td.label= item.label
  %td.format= item.format
  %td.condition= item.condition
  %td.price_paid= item.price_paid
  %td.added_on= item.created_at.strftime('%m.%d.%y')
  - if can? :manage, Item
    %td.edit
      = link_to 'e', edit_item_path(item)
      \/
      = link_to 'd', item, :method => :delete, :data => { :confirm => 'Are you sure you want to delete this item?' }
