.content#items
  - if @can_edit
    #add-new
      %form.ajax{ :action => '/items', :method => 'post' }
        = token_tag(nil)
        - field_headers.each do |field|
          %input{ :type => 'text', :name => "item[#{field.parameterize('_')}]", :placeholder => field }
        %input{ :type => 'submit', :value => 'Add' }

  %table{ 'data-sort' => params[:sort], 'data-direction' => params[:direction] }
    %thead
      %tr
        - field_headers.each do |field|
          %th
            - sort = field.parameterize('_')
            %a{ :href => '', 'data-sort' => sort, :class => ('current' if params[:sort] == sort) }
              = field
              - if params[:sort] == sort
                = params[:direction] == 'ASC' ? "\u2191" : "\u2193"
        %th
          %a{ :href => '', 'data-sort' => 'created_at', :class => ('current' if params[:sort] == 'created_at') }
            Added On
            - if params[:sort] == 'created_at' 
              = params[:direction] == 'ASC' ? "\u2191" : "\u2193"
    %tbody.js-items
  .js-pagination
  .loader.js-loader
    - 12.times do
      %li

= render 'editing_bar'
= render :partial => '/items/template'

:javascript
  window.filter_options = #{params.slice(:sort, :direction, :search, :page).to_json};
