.content#items
  - if @can_edit
    #add-new
      %form.ajax{ :action => '/items', :method => 'post' }
        = token_tag(nil)
        - field_headers.each do |field|
          %input{ :type => 'text', :name => "item[#{field.parameterize('_')}]", :placeholder => field }
        %input{ :type => 'submit', :value => 'Add' }

  %table{ 'data-sort' => params[:sort], 'data-direction' => params[:direction] }
    %thead
      %tr
        - field_headers.each do |field|
          %th{ :class => field.parameterize('_') }
            - sort = field.parameterize('_')
            %a{ :href => '', 'data-sort' => sort }
              = field
        %th
          %a.added_on{ :href => '', 'data-sort' => 'created_at'}
            Added On
    %tbody.js-items
  .js-pagination
  .loader.js-loader
    - 12.times do
      %li

%script#item_template{ type: 'text/template' }= render :partial => '/items/template'

:javascript
  window.filter_options = #{params.slice(:sort, :direction, :search, :q, :page).to_json};

- content_for :nav do
  %ul
    %li.js-items-page-info.hide-on-mobile
    %li
      %a{ :href => '/stats' } stats
    %li
      %a.export{ :href => '/items.csv' } export
    %li
      %a{ :href => random_items_path } random
    - if @can_edit
      %li
        %a.logout{ :href => '/logout' } log out
      %li
        %a.import{ :href => '' } import csv
        %form.login{ :action => '/items/import', :method => 'post', :enctype => 'multipart/form-data'}
          = token_tag(nil)
          %input{ :type => 'file', :name => 'file' }
          %input{ :type => 'submit', :value => 'Import' }
    - else
      %li
        %a.login{ :href => '' } log in
        = form_tag user_session_path do
          = text_field_tag 'user[email]', nil, :placeholder => 'Email Address', :size => 12
          = password_field_tag 'user[password]', nil, :placeholder => 'Password', :size => 7
          %button Sign in
    %li
      %form.search.js-search{ :action => '/', :method => 'get' }
        %input.search-input{ :type => 'search', :name => 'search', :placeholder => 'Search', :value => params[:search] }
    %li
      %a.advanced-serach{ href: search_items_path } advanced
