.content#items
  - if @can_edit
    #add-new
      %form.ajax{ :action => '/items', :method => 'post' }
        = token_tag(nil)
        - field_headers.each do |field|
          %input{ :type => 'text', :name => "item[#{field.parameterize('_')}]", :placeholder => field }
        %input{ :type => 'submit', :value => 'Add' }

  %table{ 'data-sort' => params[:sort], 'data-direction' => params[:direction] }
    %tr
      - field_headers.each do |field|
        %th
          - sort = field.parameterize('_')
          %a{ :href => '', 'data-sort' => sort, :class => ('current' if params[:sort] == sort) }
            = field
            - if params[:sort] == sort
              = params[:direction] == 'ASC' ? "\u2191" : "\u2193"
      %th
        %a{ :href => '', 'data-sort' => 'created_at', :class => ('current' if params[:sort] == 'created_at') }
          Added On
          - if params[:sort] == 'created_at' 
            = params[:direction] == 'ASC' ? "\u2191" : "\u2193"

    = cache ["items_markup3", Item.unscoped.maximum(:updated_at).to_i, @can_edit, params.slice(:sort, :direction, :search)] do
      = render :partial => 'items/item', :collection => @items, :as => :item

= render 'editing_bar'
