.container-fluid#items
  - if @can_edit
    #add-new.text-center
      %form.form-inline.ajax{ :action => '/items', :method => 'post' }
        .form-group
          = token_tag(nil)
          - field_headers.each do |field|
            %input.form-control{ :type => 'text', :name => "item[#{field.parameterize(separator: "_")}]", :placeholder => field }
          %button.btn.btn-primary{ :type => 'submit' } Add

  .table-responsive
    %table.table{ 'data-sort' => params[:sort], 'data-direction' => params[:direction] }
      %thead
        %tr
          - field_headers.each do |field|
            %th{ :class => "item-#{field.parameterize(separator: "_")}" }
              - sort = field.parameterize(separator: "_")
              %a{ :href => '', 'data-sort' => sort }
                - if field == "Price Paid"
                  Paid
                - else
                  = field
          %th
            %a.added_on{ :href => '', 'data-sort' => 'created_at'}
              Added
          %th
      %tbody
        - cache("#{@presenter.cache_key}/html") do
          = render @presenter.items
  .text-center!= pagy_bootstrap_nav @presenter.pagination

:javascript
  window.filter_options = #{params.slice(:sort, :direction, :search, :q, :page).to_json.html_safe};

- content_for :nav do
  %ul.nav.navbar-nav
    %li
      %a!= pagy_info @presenter.pagination
    %li
      %a{ :href => '/stats' } stats
    %li
      %a{ :href => random_items_path } random
    %li
      %a{ href: discover_items_path } discover
    %li
      %a{ href: tracks_path } tracks
    - if @can_edit
      %li
        %a.logout{ :href => '/logout' } log out
      %li
        %a.import{ :href => '' } import
        %form.navbar-form.login.collapse{ :action => '/items/import_discogs', :method => 'post'}
          .form-group
            = token_tag(nil)
            %input.form-control{ :type => 'text', :name => 'url', :placeholder => "Discogs URL" }
            %input.form-control{ :type => 'submit', :value => 'Import' }
      %li
        %a.import{ :href => '' } import csv
        %form.navbar-form.login.collapse{ :action => '/items/import', :method => 'post', :enctype => 'multipart/form-data'}
          .form-group
            = token_tag(nil)
            %input.form-control{ :type => 'file', :name => 'file' }
            %input.form-control{ :type => 'submit', :value => 'Import' }
    - else
      %li
        %a.login{ :href => '' } log in
        = form_tag user_session_path, class: "navbar-form collapse" do
          .form-group
            = text_field_tag 'user[email]', nil, :placeholder => 'Email Address', class: "form-control"
            = password_field_tag 'user[password]', nil, :placeholder => 'Password', class: "form-control"
          %button.btn.btn-default{ type: "submit" } Sign in
