.content
  - if can? :manage, Item
    #add-new
      %form.ajax{ :action => '/items', :method => 'post' }
        = token_tag(nil)
        - ['Title', 'Artist', 'Year', 'Label', 'Format', 'Condition', 'Price Paid'].each do |field|
          %input{ :type => 'text', :name => "item[#{field.parameterize('_')}]", :placeholder => field }
        %input{ :type => 'submit', :value => 'Add' }

  %table{ 'data-sort' => params[:sort], 'data-direction' => params[:direction] }
    %tr
      - ['Title', 'Artist', 'Year', 'Label', 'Format', 'Condition', 'Price Paid'].each do |field|
        %th
          %a{ 'data-sort' => field.parameterize('_'), :class => ('current' if params[:sort] == field.parameterize('_')) }
            = field
            - if params[:sort] == field.parameterize('_')
              = params[:direction] == 'ASC' ? "\u2191" : "\u2193"
      %th
        %a{ 'data-sort' => 'created_at', :class => ('current' if params[:sort] == 'created_at') }
          Added On
          - if params[:sort] == 'created_at' 
            = params[:direction] == 'ASC' ? "\u2191" : "\u2193"

    = render :partial => 'items/item', :collection => @items, :as => :item

%form{ :action => '/items/import', :method => 'post', :enctype => 'multipart/form-data'}
  %input{ :type => 'file', :name => 'file' }
  %input{ :type => 'submit', :value => 'Import' }
