
%h1
  %a{ :href => '/' } Rayons

.content
  %table{ 'data-sort' => params[:sort], 'data-direction' => params[:direction] }
    %tr
      - ['Title', 'Artist', 'Year', 'Label', 'Format', 'Condition', 'Price Paid'].each do |field|
        %th
          %a{ 'data-sort' => field.parameterize('_'), :class => ('current' if params[:sort] == field.parameterize('_')) }
            = field
            - if params[:sort] == field.parameterize('_')
              = params[:direction] == 'ASC' ? "\u2191" : "\u2193"
      %th
        %a{ 'data-sort' => 'created_at', :class => ('current' if params[:sort] == 'created_at') }
          Added On
          - if params[:sort] == 'created_at' 
            = params[:direction] == 'ASC' ? "\u2191" : "\u2193"

    - @items.each do |item|
      %tr
        %td.title= item.title
        %td.artist= item.artist
        %td.year= item.year
        %td.label= item.label
        %td.format= item.format
        %td.condition= item.condition
        %td.price_paid= item.price_paid
        %td.added_on= item.created_at.strftime('%m.%d.%y')
        - if can? :manage, Item
          %td.edit
            = link_to 'e', edit_item_path(item)
            \/
            = link_to 'd', item, :method => :delete, :data => { :confirm => 'Are you sure you want to delete this item?' }

%form{ :action => '/items/import', :method => 'post', :enctype => 'multipart/form-data'}
  %input{ :type => 'file', :name => 'file' }
  %input{ :type => 'submit', :value => 'Import' }
