.content#item_show
  %h1
    #{@item.artist} -
    %em= @item.title
    %br
    #{@item.format} released in #{@item.year} on #{@item.label}

  %p
    %b Condition:
    = @item.condition
  %p
    %b Price paid:
    = @item.price_paid
  - if @release
    %p
      %b Genre:
      = @release.genres.join(', ')
    %p
      %b Style:
      = @release.styles.join(', ')
    - if @release.tracklist
      .tracklist
        %b Tracklist
        %ul
          - @release.tracklist.each do |track|
            %li #{track.position}: #{track.title}
    %p
      %a{ href: @item.discogs_url, target: '_blank' } Discogs Link

    -#%img{ src: @release.image_url }
