- content_for :title, "#{@item.artist} - #{@item.title}"

.content#item_show
  %h1
    #{@item.artist} -
    %em= @item.title
    %br
    #{@item.format} released in #{@item.year} on #{@item.label}
    %br
    Added on #{@item.created_at.strftime('%A, %B %-d, %Y')}

  - if @release.image_url
    .left.image
      %img{ src: @release.image_url }

  .left
    %p
      %b Condition:
      = @item.condition
    %p
      %b Color:
      = @item.color
    %p
      %b Price paid:
      = @item.price_paid
    - if @release.extra_info?
      %p
        %b Genre:
        = @release.genres.to_a.join(', ')
      %p
        %b Style:
        = @release.styles.to_a.join(', ')
      - if @release.tracklist
        .tracklist
          %b Tracklist
          %ul
            - @release.tracklist.each do |track|
              %li #{track.position}: #{track.title}
    - if @release.notes.present?
      %p
        %b Notes:
        %br
        - @release.notes.to_s.lines.each do |line|
          = line
          %br
      %p
        %a{ href: @item.discogs_url, target: '_blank' } Discogs Link
    %p
      %a{ href: edit_item_path(@item) } Edit

- content_for :nav do
  %ul
    %li
      %a{ :href => '/stats' } stats
    %li
      %a.export{ :href => '/items.csv' } export csv
    %li
      %a{ :href => random_items_path } random
    %li
      %a.logout{ :href => '/logout' } log out
    %li
      %form.search{ :action => '/', :method => 'get' }
        %input{ :type => 'search', :name => 'search', :placeholder => 'Search', :value => params[:search] }

