- content_for :title, "#{@item.artist} - #{@item.title}"

.container-fluid#item_show
  %h1
    %a{ href: root_url(search: @item.artist) }= @item.artist
    \-
    %em= @item.title
  %h2
    #{@item.format} released in
    %a{ href: root_url(search: @item.year) }= @item.year
    on
    %a{ href: root_url(search: @item.label) }= @item.label
  %h3
    Added on #{@item.created_at.strftime('%A, %B %-d, %Y')}

  .row
    - if @release.image_url.present?
      .col-md-4.image.album-art
        %img.img-responsive{ src: @release.image_url }
        %br
    .col-md-7
      %p
        %b Condition:
        = @item.condition
      %p
        %b Color:
        = @item.color
      %p
        %b Price paid:
        = @item.price_paid
      %p
        %b Genre:
        = @item.genres.to_a.join(', ')
      %p
        %b Style:
        = @item.styles.to_a.join(', ')
      - if @release.extra_info?
        - if @release.tracklist
          .tracklist
            %b Tracklist
            %ul
              - @release.tracklist.each do |track|
                %li #{track.position}: #{track.title}
      - if @release.notes.present?
        %p
          %b Notes:
          %br
          - @release.notes.to_s.lines.each do |line|
            = line.html_safe
            %br
        %p
          %a{ href: @item.discogs_url, target: '_blank', rel: "noopener noreferrer" } Discogs Link
      %p
        %a{ href: edit_item_path(@item) } Edit

- content_for :nav do
  %ul.nav.navbar-nav
    %li
      %a{ :href => '/stats' } stats
    %li
      %a{ :href => random_items_path } random
    %li
      %a.logout{ :href => '/logout' } log out
