.content#item_show
  %h1
    #{@item.artist} -
    %em= @item.title
    %br
    #{@item.format} released in #{@item.year} on #{@item.label}

  - if @release.image_url
    .left.image
      %img{ src: @release.image_url }

  .left
    %p
      %b Condition:
      = @item.condition
    %p
      %b Color:
      = @item.color
    %p
      %b Price paid:
      = @item.price_paid
    - if @item.discogs_url.present?
      %p
        %b Genre:
        = @release.genres.join(', ')
      %p
        %b Style:
        = @release.styles.join(', ')
      - if @release.tracklist
        .tracklist
          %b Tracklist
          %ul
            - @release.tracklist.each do |track|
              %li #{track.position}: #{track.title}
      %p
        %b Notes:
        %br
        - @release.notes.lines.each do |line|
          = line
          %br
      %p
        %a{ href: @item.discogs_url, target: '_blank' } Discogs Link

