- content_for :title, "#{@item.artist} - #{@item.title}"

.container-fluid#item_show
  %h1
    %a{ href: root_url(search: @item.artist) }= @item.artist
    \-
    %em= @item.title
  %h2
    #{@item.format} released in
    %a{ href: root_url(search: @item.year) }= @item.year
    on
    %a{ href: root_url(search: @item.label) }= @item.label
  %h3
    Added on #{@item.created_at.strftime('%A, %B %-d, %Y')}

  .row
    - if @release.image_url.present?
      .col-md-4.image.album-art
        %img.img-responsive{ src: @release.image_url }
        %br
    .col-md-7
      %p
        %b Condition:
        = @item.condition
      %p
        %b Color:
        = @item.color
      %p
        %b Price paid:
        = @item.price_paid
      %p
        %b Genre:
        = @item.genres.to_a.join(', ')
      %p
        %b Style:
        = @item.styles.to_a.join(', ')
      - if @item.tracks.exists?
        .tracklist
          %b Tracklist
          %ul
            - @item.tracks.order(:number).each do |track|
              %li
                %strong= track.number
                - if track.artist != @item.artist
                  #{track.artist} -
                = track.name
                - if track.duration.present?
                  (#{track.duration})
      - elsif @release.extra_info?
        - if @release.tracklist
          .tracklist
            %b Tracklist
            %ul
              - @release.tracklist.each do |track|
                %li #{track.position}: #{track.title}
      - if @release.notes.present?
        %p
          %b Notes:
          %br
          - @release.notes.to_s.lines.each do |line|
            = line.html_safe
            %br

      .last-cleaned
        %b Last cleaned:
        - if @item.last_cleaned_at.present?
          = @item.last_cleaned_at.strftime("%B %-d, %Y")
        - else
          Never
        = button_to("Mark as cleaned", mark_as_cleaned_item_path(@item), class: "btn btn-light", form: {style: 'display:inline-block;'}) 

      - if @item.embedding.present?
        .similar-items
          %b Similar Items
          %ul
            - @item.similar_items.each do |item|
              %li
                %a{ href: item_path(item) }
                  #{item.artist} - #{item.title}

      %p
        - if @item.discogs_url.present?
          = button_to("Discogs Link", @item.discogs_url, method: :get, class: "btn btn-light", form: {style: 'display:inline-block;'})
        = button_to("Edit", edit_item_path(@item), method: :get, class: "btn btn-light", form: {style: 'display:inline-block;'})

- content_for :nav do
  %ul.nav.navbar-nav
    %li
      %a{ :href => '/stats' } stats
    %li
      %a{ :href => random_items_path } random
    %li
      %a{ href: discover_items_path } discover
    %li
      %a.logout{ :href => '/logout' } log out
