!!!
%html
  %head
    %title
      Rayons
      - if yield(:title).present?
        | #{yield :title}
    %link{ :href=>"#{request.protocol}fonts.googleapis.com/css?family=Monoton", :rel=>"stylesheet", :type=>"text/css" }
    %link{ :rel=>"icon", :type=>"images/png", :href=>"/icon.png" }
    %meta{ :name=>"viewport", :content=>"width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0" }
    = stylesheet_link_tag "application", :media => "all"
    - if !cookies[:exclude_responsive]
      = stylesheet_link_tag "responsive", :media => "all"
    = javascript_include_tag "//www.google.com/jsapi", "chartkick"
    = javascript_include_tag "application"
    = csrf_meta_tags

    - if ENV['GOOGLE_ANALYTICS_CODE']
      :javascript
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', '#{ENV['GOOGLE_ANALYTICS_CODE']}']);
        _gaq.push(['_trackPageview']);

        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
  %body
    %h1
      %a{ :href => '/' } Rayons

    - if flash[:error]
      .message.error= flash[:error]
    - if flash[:message] || flash[:notice]
      .message= flash[:message] || flash[:notice]
    .message.none

    = yield

    .footer
      Created by
      %a{ :href => 'http://www.gordondiggs.com/', :target => '_blank' } Gordon Diggs
      in 2013.

    .print-footer
      - if @items
        #{@items.size} items.
      Printed on #{Time.now.strftime("%a %b %-d %Y at %H:%M")} at #{request.url}
      %br
      Fork me on Github at https://github.com/GordonDiggs/rayons

    %a.github-link{ :href => "https://github.com/GordonDiggs/rayons" }
      %img{ :src=> "/github.png", :alt => "Fork me on GitHub" }
