!!!
%html
  %head
    %title
      Rayons
      - if yield(:title).present?
        = "\u2669 #{yield :title}".html_safe
    %link{ :href=>"#{request.protocol}fonts.googleapis.com/css?family=Monoton", :rel=>"stylesheet", :type=>"text/css" }
    %link{ :rel=>"icon", :type=>"images/png", :href=>"/icon.png" }
    %link{ href: "/opensearch.xml", rel: "search", title: "Rayons Search", type: "application/opensearchdescription+xml"}
    %meta{ :content => "width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no", :name => "viewport" }
    = stylesheet_link_tag "application", :media => "all"

    - if ENV['BUGSNAG_API_KEY']
      %script{ "data-apikey" => ENV['BUGSNAG_API_KEY'], :src => "//d2wy8f7a9ursnm.cloudfront.net/bugsnag-2.min.js" }
    = javascript_include_tag "//www.google.com/jsapi", "chartkick"
    = javascript_include_tag "application"
    %script{ crossorigin: "anonymous", integrity: "sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS", src: "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" }
    = csrf_meta_tags

    - if ENV['GOOGLE_ANALYTICS_CODE']
      :javascript
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', '#{ENV['GOOGLE_ANALYTICS_CODE']}', 'auto');
        ga('send', 'pageview');

  %body

    %nav.nav.navbar-default
      .container-fluid
        .navbar-header
          - if yield(:nav).present?
            %button.navbar-toggle.collapsed{"aria-expanded" => "false", "data-target" => "#collapsed-nav", "data-toggle" => "collapse", :type => "button"}
              %span.sr-only Toggle navigation
              %span.icon-bar
              %span.icon-bar
              %span.icon-bar
          %a.navbar-brand{ :href => '/' } Rayons
        - if yield(:nav).present?
          .collapse.navbar-collapse.pull-right#collapsed-nav
            = yield :nav

    .message.error.collapse.text-center
    .message.notice.collapse.text-center
    :javascript
      Flash.transferFromCookies();
      Flash.writeDataTo('error', $('.message.error'));
      Flash.writeDataTo('notice', $('.message.notice'));

    = yield

    %nav.nav.navbar-default.navbar-bottom
      .container.text-center
        Created by
        %a{ :href => 'http://www.gordondiggs.com/', :target => '_blank' } Gordon Diggs
        in 2013.
        %a{ :href => 'https://github.com/GordonDiggs/rayons', target: '_blank' } Fork me on Github

    .print-footer.hidden
      Printed on #{Time.now.strftime("%a %b %-d %Y at %H:%M")} at #{request.url}
