!!!
%html
  %head
    %title
      Rayons
      - if yield(:title).present?
        = "\u2669 #{yield :title}".html_safe
    %link{ :href=>"#{request.protocol}fonts.googleapis.com/css?family=Monoton", :rel=>"stylesheet", :type=>"text/css" }
    %link{ :rel=>"icon", :type=>"images/png", :href=>"/icon.png" }
    %link{ href: "/opensearch.xml", rel: "search", title: "Rayons Search", type: "application/opensearchdescription+xml"}
    %meta{ :name=>"viewport", :content=>"width=device-width, initial-scale=1, minimumscale=1.0, maximum-scale=1, user-scalable=0" }
    = stylesheet_link_tag "application", :media => "all"
    - if !cookies[:exclude_responsive]
      = stylesheet_link_tag "responsive", :media => "all"

    - if ENV['BUGSNAG_API_KEY']
      %script{ "data-apikey" => ENV['BUGSNAG_API_KEY'], :src => "//d2wy8f7a9ursnm.cloudfront.net/bugsnag-2.min.js" }
    = javascript_include_tag "//www.google.com/jsapi", "chartkick"
    = javascript_include_tag "application"
    = csrf_meta_tags

    - if ENV['GOOGLE_ANALYTICS_CODE']
      :javascript
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', '#{ENV['GOOGLE_ANALYTICS_CODE']}', 'auto');
        ga('send', 'pageview');

  %body

    %header
      %a.title{ :href => '/' } Rayons
      - if yield(:nav).present?
        %nav
          = yield :nav

    .message.error.none
    .message.notice.none
    :javascript
      Flash.transferFromCookies();
      Flash.writeDataTo('error', $('.message.error'));
      Flash.writeDataTo('notice', $('.message.notice'));

    = yield

    .footer
      Created by
      %a{ :href => 'http://www.gordondiggs.com/', :target => '_blank' } Gordon Diggs
      in 2013.
      %a{ :href => 'https://github.com/GordonDiggs/rayons', target: '_blank' } Fork me on Github

    .print-footer
      Printed on #{Time.now.strftime("%a %b %-d %Y at %H:%M")} at #{request.url}
